@model IEnumerable<BattleOfChampions.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}
<div class = "text-center">
<h1>Index of Equipment</h1>
<p>Here you can see a list of all the Equipment you have created and added to the database.</p>
<p>Don't see any Equipment yet? Click 'Create' below!</p>
<p>
    <a class="btn btn-primary" asp-action="Create">Create A New Piece of Equipment</a>
</p>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttackModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefenseModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeedModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttackModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefenseModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthModifier)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentID)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
